<div class="pageWrapper">
    <!--Promotion Bar-->
    {{!-- <div class="notification-bar mobilehide">
        <a href="#" class="notification-bar__message">20% off your very first purchase, use promo code: belle
            fashion</a>
        <span class="close-announcement"></span>
    </div> --}}

    <!--Search Form Drawer-->
    {{!-- ------------------------------------------search field----------------------------------------- --}}
    <div class="search">
        <div class="search__form ">
            <form class="search-bar__form" action="#" method="post">
                <button class="go-btn search__button" type="submit">
                    <i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
                    aria-label="Search" autocomplete="off" onkeyup="searchProduct(this)">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i>
            </button>
        </div>
    </div>
    <section
        style=" position: absolute; max-width: 100%;  z-index: 5;  background-color: rgb(0, 0, 0); width: 500px; border-style: ; border-radius: 10px;  display: none;">

    </section>
    <div class="row">
        {{!-- <div class="col-4"></div> --}}
        <div style="" class="col-6 ">
            <div style=" margin-left: 15px; margin-top: 110px;  width: 500px; position: fixed; z-index:2; " id="list-items">
                {{!-- <div class="row" style="background-color: rgb(63, 36, 36);"> --}}
                    <div  style="background-color:white;" id="productName" class="col-4"></div>
                    <div  style="background-color:white;" id="ProductImage" class="col-4"></div>
                    {{!-- <div class="col-4"></div> --}}

                {{!-- </div> --}}

            </div>
            
        </div>
        <div class="col-"></div>

    </div>
    {{!-- ------------------------------------------search field----------------------------------------- --}}

    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                    <div class="currency-picker">
                        <span class="selected-currency">IND</span>
                        <ul id="currencies">
                            <li data-currency="INR" class="">INR</li>
                            <li data-currency="GBP" class="">GBP</li>
                            <li data-currency="CAD" class="">CAD</li>
                            <li data-currency="USD" class="selected">USD</li>
                            <li data-currency="AUD" class="">AUD</li>
                            <li data-currency="EUR" class="">EUR</li>
                            <li data-currency="JPY" class="">JPY</li>
                        </ul>
                    </div>
                    <div class="language-dropdown">
                        <span class="language-dd">English</span>
                        <ul id="language">
                            <li class="">German</li>
                            <li class="">French</li>
                        </ul>
                    </div>
                    <p class="phone-no"><i class="anm anm-phone-s"></i> +9195398873731</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                    <div class="text-center">
                        <p class="top-header_middle-text"> Worldwide Express Shipping</p>
                    </div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                    <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline">

                        <li><a href="/useraccount"> {{#if user}}
                                {{user.name}}
                                {{else}}
                                {{/if}}</a></li>

                        <li>{{#if user}}
                            <a href="/logout">Logout</a>
                            {{else}}
                            <a href="/login">Login</a>
                            {{/if}}
                        </li>
                        <li>
                            {{#if user}}
                            <a href=""></a>
                        </li>
                        {{else}}
                        <a href="/signup">Create account</a></li>
                        {{/if}}
                        <li><a href="/wishlist">Wishlist</a></li>


                        {{!--  --}}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
    <!--Header-->
    <div class="header-wrap animated d-flex border-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    {{!-- <a href="index.html">
                        <img src="/images/logo.svg" alt="Belle Multipurpose Html Template"
                            title="Belle Multipurpose Html Template" />
                    </a> --}}
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <nav class="grid__item" id="AccessibleNav">
                        <!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu"><a href="/home">Homes <i
                                        class="anm anm-angle-down-l"></i></a>

                            </li>
                            <li class="lvl1 parent megamenu"><a href="/products/?page=1">Products<i
                                        class="anm anm-angle-down-l"></i></a>

                            </li>


                            </li>
                            <li class="lvl1 parent dropdown"><a href="#">what's New <i
                                        class="anm anm-angle-down-l"></i></a>
                                {{!-- <ul class="dropdown">
                                    <li><a href="cart-variant1.html" class="site-nav">Cart Page <i
                                                class="anm anm-angle-right-l"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="cart-variant1.html" class="site-nav">Cart Variant1</a></li>
                                            <li><a href="cart-variant2.html" class="site-nav">Cart Variant2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="compare-variant1.html" class="site-nav">Compare Product <i
                                                class="anm anm-angle-right-l"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="compare-variant1.html" class="site-nav">Compare
                                                    Variant1</a></li>
                                            <li><a href="compare-variant2.html" class="site-nav">Compare
                                                    Variant2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                                    <li><a href="about-us.html" class="site-nav">About Us <span
                                                class="lbl nm_label1">New</span> </a></li>
                                    <li><a href="contact-us.html" class="site-nav">Contact Us</a></li>
                                    <li><a href="faqs.html" class="site-nav">FAQs</a></li>
                                    <li><a href="lookbook1.html" class="site-nav">Lookbook<i
                                                class="anm anm-angle-right-l"></i></a>
                                        <ul>
                                            <li><a href="lookbook1.html" class="site-nav">Style 1</a></li>
                                            <li><a href="lookbook2.html" class="site-nav">Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="404.html" class="site-nav">404</a></li>
                                    <li><a href="coming-soon.html" class="site-nav">Coming soon <span
                                                class="lbl nm_label1">New</span> </a></li>
                                </ul> --}}
                            </li>
                            <li class="lvl1 parent dropdown"><a href="#">Blog <i class="anm anm-angle-down-l"></i></a>
                                <ul class="dropdown">
                                    {{!-- <li><a href="blog-left-sidebar.html" class="site-nav">Left Sidebar</a>
                                    </li>
                                    <li><a href="blog-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                                    <li><a href="blog-fullwidth.html" class="site-nav">Fullwidth</a></li>
                                    <li><a href="blog-grid-view.html" class="site-nav">Gridview</a></li>
                                    <li><a href="blog-article.html" class="site-nav">Article</a></li>
                                </ul> --}}
                            </li>
                            <li class="lvl1"><a href="#"><b>Buy Now!</b> <i class="anm anm-angle-down-l"></i></a>
                            </li>
                        </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->

                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="/cart" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>

                            <span id="CartCount" class="site-header__cart-count"
                                data-cart-render="item_count">{{cartCount}}</span>
                        </a>
                        <!--Minicart Popup-->
                        <div id="header-cart" class="block block-cart">
                            {{!-- <ul class="mini-products-list">
                                <li class="item">
                                    <a class="product-image" href="#">
                                        <img src="/images/product-images/cape-dress-1.jpg" alt="3/4 Sleeve Kimono Dress"
                                            title="" />
                                    </a>
                                    <div class="product-details">
                                        <a href="#" class="remove"><i class="anm anm-times-l"
                                                aria-hidden="true"></i></a>
                                        <a href="#" class="edit-i remove"><i class="anm anm-edit"
                                                aria-hidden="true"></i></a>
                                        <a class="pName" href="cart.html">Sleeve Kimono Dress</a>
                                        <div class="variant-cart">Black / XL</div>
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                                <span class="label">Qty:</span>
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i
                                                        class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                <input type="text" id="Quantity" name="quantity" value="1"
                                                    class="product-form__input qty">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i
                                                        class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="priceRow">
                                            <div class="product-price">
                                                <span class="money">$59.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <a class="product-image" href="#">
                                        <img src="/images/product-images/cape-dress-2.jpg"
                                            alt="Elastic Waist Dress - Black / Small" title="" />
                                    </a>
                                    <div class="product-details">
                                        <a href="#" class="remove"><i class="anm anm-times-l"
                                                aria-hidden="true"></i></a>
                                        <a href="#" class="edit-i remove"><i class="anm anm-edit"
                                                aria-hidden="true"></i></a>
                                        <a class="pName" href="cart.html">Elastic Waist Dress</a>
                                        <div class="variant-cart">Gray / XXL</div>
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                                <span class="label">Qty:</span>
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i
                                                        class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                <input type="text" id="Quantity" name="quantity" value="1"
                                                    class="product-form__input qty">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i
                                                        class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="priceRow">
                                            <div class="product-price">
                                                <span class="money">$99.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul> --}}
                            <div class="total">
                                <div class="total-in">
                                    <span class="label">Cart Subtotal:</span><span class="product-price"><span
                                            class="money">$</span></span>
                                </div>
                                <div class="buttonSet text-center">
                                    <a href="/cart" class="btn btn-secondary btn--small">View Cart</a>
                                    <a href="/place_order" class="btn btn-secondary btn--small">Checkout</a>
                                </div>
                            </div>
                        </div>
                        <!--End Minicart Popup-->
                    </div>


                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>







                </div>
            </div>
        </div>
    </div>

    <script>
        function searchProduct(search) {

            const listSearchItems = document.getElementById('list-items')
            console.log(search.value)

            let match = search.value.match(/^[a-zA-Z0-9 ]*/)
            let match2 = search.value.match(/[ ]*/)
            if (match2[0] === search.value) {
                listSearchItems.innerHTML = '';
                return;
            }
            if (match[0] === search.value) {
                fetch('getSearchProducts', {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ searchItems: search.value })
                }).then(res => res.json()).then(data => {
                    let search = data.searchItems
                    listSearchItems.innerHTML = ''

                    if (search.length < 1) {
                        listSearchItems.innerHTML = '<p>no results found</p>'
                        return;
                    }

                    search.forEach((item, index) => {
                        //if (index > 0) listSearchItems.innerHTML += '<hr style="color: red">';
                        listSearchItems.style.display = 'block'
                        listSearchItems.style.backgroundColor="white"
                        listSearchItems.innerHTML += `<a  style="background-color:white;" href="/productdetails/${item._id}">
                        <p class="text-black">${item.productname}</p>
                        </a>
                         <div class="col-2" style="background-color:white;">
                                    <a href="/view-product/${item._id}"><img style="width: 80px; height: 80px;"
                                        src="/pro_img/${item.img[0]}" alt="Brand image"></a>
                                </div>
`
                    })
                })
                return;
            }
            listSearchItems.innerHTML = '';
        }
    </script>
    {{!--
    <script>
        function searchProduct(search) {
            const listSearchItems = document.getElementById('list-items')
            let match = search.value.match(/^[ a-zA-Z ]*/);
            let match2 = search.value.match(/\s*/);
            if (match2[0] === search.value) {
                listSearchItems.innerHTML = '';
                return;
            }

            if (match[0] === search.value) {
                fetch('getSearchProducts', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ searchItems: search.value })
                }).then(res => res.json()).then(data => {
                    let searchItems = data.searchItems;
                    console.log('payload:---:::--')
                    console.log(searchItems)
                    searchResults.innerHTML = '';
                    if (searchItems.length < 1) {
                        searchResults.innerHTML = '<p>Sorry. Nothing Found!</p>';
                    }
                    searchItems.forEach((item, index) => {
                        console.log('item~~~~~~')
                        console.log(item)
                        console.log('index=====')
                        console.log(index)
                        //if (index > 0) searchResults.innerHTML += '<hr>';
                        searchResults.innerHTML +=
                            `<div style="background-color: white; margin-top: -14px" class="row ">
                                <div class="col-8 m-4">${item.name}</div>
                                <div class="col-2">
                                    <a href="/view-product/${item._id}"><img style="width: 80px; height: 80px;"
                                        src="/images/product/${item.img[0]}" alt="Brand image"></a>
                                </div>
                                <hr>
                            </div>`

                    });
                });
                return;
            }
            searchResults.innerHTML = ''
        }
    </script> --}}