<!--Mobile Menu-->
<div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="#" class="site-nav">Home Group 1<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="index.html" class="site-nav">Home 1 - Classic</a></li>
                        <li><a href="home2-default.html" class="site-nav">Home 2 - Default</a></li>
                        <li><a href="home15-funiture.html" class="site-nav">Home 15 - Furniture </a></li>
                        <li><a href="home3-boxed.html" class="site-nav">Home 3 - Boxed</a></li>
                        <li><a href="home4-fullwidth.html" class="site-nav">Home 4 - Fullwidth</a></li>
                        <li><a href="home5-cosmetic.html" class="site-nav">Home 5 - Cosmetic</a></li>
                        <li><a href="home6-modern.html" class="site-nav">Home 6 - Modern</a></li>
                        <li><a href="home7-shoes.html" class="site-nav last">Home 7 - Shoes</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Home Group 2<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="home8-jewellery.html" class="site-nav">Home 8 - Jewellery</a></li>
                        <li><a href="home9-parallax.html" class="site-nav">Home 9 - Parallax</a></li>
                        <li><a href="home10-minimal.html" class="site-nav">Home 10 - Minimal</a></li>
                        <li><a href="home11-grid.html" class="site-nav">Home 11 - Grid</a></li>
                        <li><a href="home12-category.html" class="site-nav">Home 12 - Category</a></li>
                        <li><a href="home13-auto-parts.html" class="site-nav">Home 13 - Auto Parts</a></li>
                        <li><a href="home14-bags.html" class="site-nav last">Home 14 - Bags</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">New Sections<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="home11-grid.html" class="site-nav">Image Gallery</a></li>
                        <li><a href="home5-cosmetic.html" class="site-nav">Featured Product</a></li>
                        <li><a href="home7-shoes.html" class="site-nav">Columns with Items</a></li>
                        <li><a href="home6-modern.html" class="site-nav">Text columns with images</a></li>
                        <li><a href="home2-default.html" class="site-nav">Products Carousel</a></li>
                        <li><a href="home9-parallax.html" class="site-nav last">Parallax Banner</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">New Features<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="home13-auto-parts.html" class="site-nav">Top Information Bar </a></li>
                        <li><a href="#" class="site-nav">Age Varification </a></li>
                        <li><a href="#" class="site-nav">Footer Blocks</a></li>
                        <li><a href="#" class="site-nav">2 New Megamenu style</a></li>
                        <li><a href="#" class="site-nav">Show Total Savings </a></li>
                        <li><a href="#" class="site-nav">New Custom Icons</a></li>
                        <li><a href="#" class="site-nav last">Auto Currency</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="#">Shop <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="#" class="site-nav">Shop Pages<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="shop-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                        <li><a href="shop-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                        <li><a href="shop-fullwidth.html" class="site-nav">Fullwidth</a></li>
                        <li><a href="shop-grid-3.html" class="site-nav">3 items per row</a></li>
                        <li><a href="shop-grid-4.html" class="site-nav">4 items per row</a></li>
                        <li><a href="shop-grid-5.html" class="site-nav">5 items per row</a></li>
                        <li><a href="shop-grid-6.html" class="site-nav">6 items per row</a></li>
                        <li><a href="shop-grid-7.html" class="site-nav">7 items per row</a></li>
                        <li><a href="shop-listview.html" class="site-nav last">Product Listview</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Shop Features<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="shop-left-sidebar.html" class="site-nav">Product Countdown </a></li>
                        <li><a href="shop-right-sidebar.html" class="site-nav">Infinite Scrolling</a></li>

                        <li><a href="shop-grid-3.html" class="site-nav">Pagination - Classic</a></li>
                        <li><a href="shop-grid-6.html" class="site-nav">Pagination - Load More</a></li>
                        <li><a href="product-labels.html" class="site-nav">Dynamic Product Labels</a></li>
                        <li><a href="product-swatches-style.html" class="site-nav">Product Swatches </a></li>
                        <li><a href="product-hover-info.html" class="site-nav">Product Hover Info</a></li>
                        <li><a href="shop-grid-3.html" class="site-nav">Product Reviews</a></li>
                        <li><a href="shop-left-sidebar.html" class="site-nav last">Discount Label </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="product-layout-1.html">Product <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="product-layout-1.html" class="site-nav">Product Page<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="product-layout-1.html" class="site-nav">Product Layout 1</a></li>
                        <li><a href="product-layout-2.html" class="site-nav">Product Layout 2</a></li>
                        <li><a href="product-layout-3.html" class="site-nav">Product Layout 3</a></li>
                        <li><a href="product-with-left-thumbs.html" class="site-nav">Product With Left Thumbs</a></li>
                        <li><a href="product-with-right-thumbs.html" class="site-nav">Product With Right Thumbs</a></li>
                        <li><a href="product-with-bottom-thumbs.html" class="site-nav last">Product With Bottom
                                Thumbs</a></li>
                    </ul>
                </li>
                <li><a href="short-description.html" class="site-nav">Product Features<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="short-description.html" class="site-nav">Short Description</a></li>
                        <li><a href="product-countdown.html" class="site-nav">Product Countdown</a></li>
                        <li><a href="product-video.html" class="site-nav">Product Video</a></li>
                        <li><a href="product-quantity-message.html" class="site-nav">Product Quantity Message</a></li>
                        <li><a href="product-visitor-sold-count.html" class="site-nav">Product Visitor/Sold Count </a>
                        </li>
                        <li><a href="product-zoom-lightbox.html" class="site-nav last">Product Zoom/Lightbox </a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Product Features<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="product-with-variant-image.html" class="site-nav">Product with Variant Image</a>
                        </li>
                        <li><a href="product-with-color-swatch.html" class="site-nav">Product with Color Swatch</a></li>
                        <li><a href="product-with-image-swatch.html" class="site-nav">Product with Image Swatch</a></li>
                        <li><a href="product-with-dropdown.html" class="site-nav">Product with Dropdown</a></li>
                        <li><a href="product-with-rounded-square.html" class="site-nav">Product with Rounded Square</a>
                        </li>
                        <li><a href="swatches-style.html" class="site-nav last">Product Swatches All Style</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Product Features<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="product-accordion.html" class="site-nav">Product Accordion</a></li>
                        <li><a href="product-pre-orders.html" class="site-nav">Product Pre-orders </a></li>
                        <li><a href="product-labels-detail.html" class="site-nav">Product Labels</a></li>
                        <li><a href="product-discount.html" class="site-nav">Product Discount In %</a></li>
                        <li><a href="product-shipping-message.html" class="site-nav">Product Shipping Message</a></li>
                        <li><a href="product-shipping-message.html" class="site-nav last">Size Guide </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="about-us.html">Pages <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="cart-variant1.html" class="site-nav">Cart Page <i class="anm anm-plus-l"></i></a>
                    <ul class="dropdown">
                        <li><a href="cart-variant1.html" class="site-nav">Cart Variant1</a></li>
                        <li><a href="cart-variant2.html" class="site-nav">Cart Variant2</a></li>
                    </ul>
                </li>
                <li><a href="compare-variant1.html" class="site-nav">Compare Product <i class="anm anm-plus-l"></i></a>
                    <ul class="dropdown">
                        <li><a href="compare-variant1.html" class="site-nav">Compare Variant1</a></li>
                        <li><a href="compare-variant2.html" class="site-nav">Compare Variant2</a></li>
                    </ul>
                </li>
                <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                <li><a href="about-us.html" class="site-nav">About Us<span class="lbl nm_label1">New</span></a></li>
                <li><a href="contact-us.html" class="site-nav">Contact Us</a></li>
                <li><a href="faqs.html" class="site-nav">FAQs</a></li>
                <li><a href="lookbook1.html" class="site-nav">Lookbook<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="lookbook1.html" class="site-nav">Style 1</a></li>
                        <li><a href="lookbook2.html" class="site-nav last">Style 2</a></li>
                    </ul>
                </li>
                <li><a href="404.html" class="site-nav">404</a></li>
                <li><a href="coming-soon.html" class="site-nav">Coming soon<span class="lbl nm_label1">New</span></a>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="blog-left-sidebar.html">Blog <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="blog-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                <li><a href="blog-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                <li><a href="blog-fullwidth.html" class="site-nav">Fullwidth</a></li>
                <li><a href="blog-grid-view.html" class="site-nav">Gridview</a></li>
                <li><a href="blog-article.html" class="site-nav">Article</a></li>
            </ul>
        </li>
        <li class="lvl1"><a href="#"><b>Buy Now!</b></a>
        </li>
    </ul>
</div>
<!--End Mobile Menu-->

<!--Body Content-->
<div id="page-content">
    <!--Collection Banner-->
    <div class="collection-header">
        <div class="collection-hero">
            <div class="collection-hero__image"><img class="blur-up lazyload" data-src="/images/cat-women1.jpg"
                    src="/images/cat-women1.jpg" alt="Women" title="Women" /></div>
            <div class="collection-hero__title-wrapper">
                <h1 class="collection-hero__title page-width">get 10 to 50 % discount on summer sale</h1>
            </div>
        </div>
    </div>
    <!--End Collection Banner-->

    <div class="container">
        <div class="row">
            <!--Sidebar-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
                <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                <form action="/productfilter" method="post">
                    <div class="sidebar_tags">
                        <!--Categories-->
                        {{!-- <div class="sidebar_widget categories filter-widget">
                            <div class="widget-title">
                                <h2>Categories</h2>
                            </div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                    <li class="level1 sub-level"><a href="#;" class="site-nav">Clothing</a>
                                        <ul class="sublinks">
                                            <li class="level2"><a href="#;"  name="category" class="site-nav">Men</a></li>
                                            <li class="level2"><a href="#;"  name="category" class="site-nav">Women</a></li>
                                            <li class="level2"><a href="#;"  name="category" class="site-nav">Child</a></li>
                                            <li class="level2"><a href="#;" class="site-nav">View All Clothing</a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 sub-level"><a href="#;" class="site-nav">product category</a>
                                        <ul class="sublinks">
                                            <li class="level2"><a href="#;"  class="site-nav">shirt</a></li>
                                            <li class="level2"><a href="#;"   class="site-nav">pant</a></li>
                                            <li class="level2"><a href="#;"   class="site-nav">tshirt</a></li>
                                            <li class="level2"><a href="#;"   class="site-nav">View All Clothing</a></li>
                                        </ul>
                                    </li>


                                </ul>
                            </div>
                        </div> --}}
                        <!--Categories-->
                        <!--Price Filter-->
                        

                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>category</h2>
                            </div>
                            <ul>
                                {{#each category}}
                                <li>
                                    <input type="checkbox" name="category" value={{this._id}} id="check1">
                                    <label for="check1"><span></span>{{this.categoryname}}</label>
                                </li>
                               
                            {{/each}}
                            </ul>
                        </div>
                        <button class="btn btn-info" type="submit">filter</button>
                </form>

                {{!-- <div class="sidebar_widget">
                    <div class="widget-title">
                        <h2>Product Tags</h2>
                    </div>

                </div> --}}
                <!--end Product Tags-->
            </div>
        </div>
        <!--End Sidebar-->
        <!--Main Content-->
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
            <div class="productList">
                <!--Toolbar-->
                <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                <div class="toolbar">
                    <div class="filters-toolbar-wrapper">
                        <div class="row">
                            <div
                                class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">

                            </div>
                            <div
                                class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">

                            </div>
                            <div class="col-4 col-md-4 col-lg-4 text-right">
                                <div class="filters-toolbar__item">
                                    <label for="SortBy" class="hidden">Sort</label>

                                    <input class="collection-header__default-sort" type="hidden" value="manual">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Toolbar-->


                {{!-- product rendering --}}

                <div class="grid-products grid-view-items">
                    <div class="row">
                        {{#each products}}

                        <div class="col-4 col-sm-6 col-md-4 col-lg-3 item mx-auto">

                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/productdetails/{{this._id}}">
                                    <!-- image -->
                                    <img class="primary lazyload" data-src="/pro_img/{{this.img.[0]}}"
                                        src="/pro_img/{{this.img.[0]}}" title="product"
                                        style="height:280px;width: 210px;">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover lazyload" data-src="/pro_img/{{this.img.[1]}}"
                                        data-src="/pro_img/{{this.img.[0]}}" src="/pro_img/{{this.img.[2]}}"
                                        title="product">
                                    <!-- End hover image -->
                                    <!-- product label -->
                                    {{!-- <div class="product-labels rectangular"><span class="lbl on-sale">-16%</span>
                                        <span class="lbl pr-label1">new</span>
                                    </div> --}}
                                    <!-- End product label -->
                                </a>
                                <!-- end product image -->

                                <!-- countdown start -->
                                <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                                <!-- countdown end -->

                                <!-- Start product button -->
                                <form class="variants add" action=""
                                    onclick="window.location.href='/productdetails/{{this._id}}'" method="post">
                                    <button class="btn btn-addto-cart" type="button">Add to Cart</button>
                                </form>
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view"
                                        data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <div class="wishlist-btn">
                                        <a class="wishlist add-to-wishlist" href="/addtowishlist1/{{this._id}}"
                                            title="Add to Wishlist">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>

                                </div>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->

                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="#">{{this.productname}}</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="old-price">{{this.price}}</span>
                                    <span class="price">{{this.priceAfterDiscount}}</span>
                                </div>
                                <!-- End product price -->

                                <div class="product-review">
                                    {{!-- <i class="font-13 fa fa-star"></i>
                                    <i class="font-13 fa fa-star"></i>
                                    <i class="font-13 fa fa-star"></i>
                                    <i class="font-13 fa fa-star-o"></i>
                                    <i class="font-13 fa fa-star-o"></i> --}}
                                </div>
                                <!-- Variant -->
                                <ul class="swatches">
                                    {{!-- <li class="swatch medium rounded"><img src="/pro_img/{{this.img.[1]}}" />
                                    </li> --}}
                                    <li class="swatch medium rounded"><img src="/pro_img/{{this.img.[1]}}" /></li>
                                    <li class="swatch medium rounded"><img src="/pro_img/{{this.img.[2]}}" /></li>
                                    <li class="swatch medium rounded"><img src="/pro_img/{{this.img.[3]}}" /></li>


                                </ul>




                            </div>

                        </div>
                        {{/each}}


                        <nav aria-label=" Page navigation">
                            <div class="container ">

                                <ul class="pagination d-flex justify-content-center ">
                                    {{#ifCond '1' results.currentPage}}

                                    <li class="page-item disabled" style="width: 45px;">
                                        <a class="page-link page-link-prev"
                                            href="/products/?page={{results.previous.page}}" aria-label="Previous"
                                            tabindex="-1" aria-disabled="true">

                                            <i class="bi bi-arrow-left-short"></i>

                                        </a>
                                    </li>
                                    {{else}}
                                    <li class="page-item" style="width: 60px;">
                                        <a class="page-link page-link-prev"
                                            href="/products/?page={{results.previous.page}}" aria-label="Previous"
                                            tabindex="-1" aria-disabled="true">

                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </li>
                                    {{/ifCond}}
                                    {{#each results.pages}}
                                    <li class="page-item" style="width: 45px;"><a class="page-link"
                                            href="/products/?page={{this}}">{{this}}</a></li>

                                    {{/each}}
                                    {{#ifCond results.pageCount results.currentPage}}
                                    <li class="page-item disabled" style="width: 60px;">
                                        <a class="page-link page-link-next" href="/products/?page={{results.next.page}}"
                                            aria-label="Next">
                                            <i class="bi bi-arrow-right"></i>

                                        </a>
                                    </li>
                                    {{else}}
                                    <li class="page-item " style="width: 45px;">
                                        <a class="page-link page-link-next" href="/products/?page={{results.next.page}}"
                                            aria-label="Next">
                                            <i class="bi bi-arrow-right"></i>

                                        </a>
                                    </li>
                                    {{/ifCond}}
                                </ul>
                            </div>
                        </nav>
                        {{!-- <div class="infinitpaginOuter mx-auto">
                            <div class="infinitpagin">
                                <a href="#" class="btn loadMore">Load More</a>
                            </div>
                        </div> --}}


                        <!--End Main Content-->
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<!--End Body Content-->


</body>

<!-- belle/shop-grid-4.html   11 Nov 2019 12:39:07 GMT -->

</html>